@font-face {
  font-family: 'Lily Script One';
  font-style: normal;
  font-weight: 400;
  src: local('Lily Script One'), local('LilyScriptOne-Regular'), url(http://themes.googleusercontent.com/static/fonts/lilyscriptone/v2/uPWsLVW8uiXqIBnE8ZwGPAaS65eljNVkG0R6HbhLwtY.woff) format('woff');
}
